---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"
import getReadingTime from "../lib/readingTime";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="mb-10 text-center italic opacity-80">
    <text class="text-lg">
      Mastery guides, tutorials, and operational strategies for modern infrastructure.
    </text>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest Posts</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
          readingTime={getReadingTime(post.body)}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
