---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import SideBar from "../components/SideBar.astro";
import { ViewTransitions } from "astro:transitions";
import "@fontsource/inter";

import { SITE_TITLE, SITE_DESCRIPTION, TRANSITION_API } from "../config";

const {
  image,
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  includeSidebar = true,
  sideBarActiveItemID,
  ogType,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={image} , ogType={ogType} />
    {TRANSITION_API && <ViewTransitions />}
    <script is:inline>
      // Initialize theme from local storage or default to 'lofi'
      const theme = localStorage.getItem('theme') || 'lofi';
      document.documentElement.setAttribute('data-theme', theme);
    </script>
    <script is:inline src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
    <script is:inline>
      const initializeMermaid = () => {
        mermaid.initialize({
          startOnLoad: false,
          theme: localStorage.getItem('theme') === 'black' ? 'dark' : 'default',
        });
        
        // Find all code blocks with the class 'language-mermaid'
        const mermaidBlocks = document.querySelectorAll('pre code.language-mermaid');
        mermaidBlocks.forEach((block, index) => {
          const pre = block.parentElement;
          const content = block.textContent;
          const id = `mermaid-${index}`;
          
          // Create a new div for mermaid
          const div = document.createElement('div');
          div.className = 'mermaid flex justify-center my-8';
          div.id = id;
          div.innerHTML = content;
          
          // Replace the pre with the div
          pre.replaceWith(div);
        });
        
        mermaid.run();
      };

      document.addEventListener('DOMContentLoaded', initializeMermaid);
      document.addEventListener('astro:after-swap', initializeMermaid);
    </script>
  </head>
  <body>
    <div class="bg-base-100 drawer lg:drawer-open">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content bg-base-100">
        <Header title={SITE_TITLE} />
        <div class="md:flex md:justify-center">
          <main class="p-6 pt-10 lg:max-w-[900px] max-w-[100vw]">
            <slot />
          </main>
        </div>
        <Footer />
      </div>
      {includeSidebar && <SideBar sideBarActiveItemID={sideBarActiveItemID} />}
    </div>
  </body>
</html>
